{{!-- template-lint-disable no-curly-component-invocation no-implicit-this --}}

<div id="logo">
  <img src="archive.svg" alt="Archive" />
</div>

{{docs-hero class="doc-hero"}}

<div id="docs-overview">
  {{!-- <h2>Welcome to Ember BuildTimeData Documentation!</h2> --}}

  <div class="section">
    <h3>What it is?</h3>

    <p>It was build to help you insert JSON data that very rarely changes at build time instead of making a HTTP requests to the backend every time your Ember application is booting.</p>
  </div>

  <div class="section">
    <h3>How it works?</h3>

    <p>It converts all your JSON files into ES6 modules and make them available inside your Ember application.</p>
  </div>

  <div class="section">
    <h3>Instalation</h3>

    <div class="docs-code">
      ember install ember-build-time-data
    </div>
  </div>
</div>
