<div id="docs-not-found">
  <div id="not-found-svg">
    <img src="/page-not-found.svg" alt="Archive" />
  </div>

  <h2>Not found</h2>

  <p>This page doesn't exist. {{#docs-link "index"}}Head home?{{/docs-link}}</p>
</div>
